* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    color: #666;
}

a {
    text-decoration: none;
}



.flex_space {
    display: flex;
    justify-content: space-evenly;
}

/* navbar styling */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

#navbar {
  height: 70px;
  background-color: white;
}
#navbar > div {
  height: 70px;
  width: 1036px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#manubar {
  width: 550px;
  height: 70px;
  display: flex;
}

.drop-down {
  width: auto;
  height: 5px;
  visibility: hidden;
}

.sub-menu {
  top: 70px;
  left: 0px;
  position: absolute;
  background-color: #f5f5f5;
  font-size: 0px;
}
.sub-menu1 {
  top: 70px;
  right: 0px;
  position: absolute;
}
.hover-on-manubar:hover > .sub-menu1 {
  width: auto;
  height: auto;
  line-height: 25px;
  padding: 20px 20px 30px 0px;
  visibility: visible;
  transition: 0.3s;
  color: rgb(128, 128, 128);
  font-size: 14px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.hover-on-manubar:hover > .sub-menu {
  width: auto;
  height: auto;
  line-height: 25px;
  padding: 20px 20px 30px 0px;
  visibility: visible;
  transition: 0.3s;
  color: rgb(128, 128, 128);
  font-size: 14px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.list-style > ul {
  margin-left: 30px;
  list-style: none;
  width: 150px;
}

.drop-down > ul > li:hover {
  color: #4a90e2;
}
.heading {
  color: black;
  margin: 10px 0px;
  cursor: default;
}
.drop-down > ul > .heading:hover {
  color: black;
}

#manubar > div {
  width: 92px;
}

#manubar > div,
#my_naukri > div {
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#bell_Icon {
  width: 3%;
  height: 70px;
  cursor: pointer;
  position: relative;
}
#bell_Icon > img {
  width: 80%;
}
.notification {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  top: 13px;
  left: 7px;
  color: white;
  border-radius: 50%;
}
#my_naukri {
  width: 10%;
  margin-left: -6%;
}

.hover-on-manubar:hover {
  background-color: #f5f5f5;
}
.text-decoration-none {
  text-decoration: none;
  color: rgb(101, 101, 101);
  border-bottom: 5px solid transparent;
}

.hover-on-manubar:hover > a,
#my_naukri > a {
  font-weight: 700;
  color: #5c97e3;
  background-color: #f5f5f5;
  border-bottom: 5px solid #5c97e3;
  transition: 0.5s;
}

/* Body Part */
/* Sub Navbar */
#subMenuList {
    width: 50%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -260px;
}
.subNavbar {
    line-height: 10vh;
    padding: 0 20px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCRMM5SNpPPevtL47IzhLdkN2ezXsmSg9_yZx3n_D3MG0U0m6K31UMTTcWjJQIdRMtz-s&usqp=CAU");
}

.subNavbar ul {
    display: inline-block;
}

.subNavbar ul li {
    display: inline-block;
}

.subNavbar ul li a {
    color: #fff;
    font-size: 13px;
}

/* slide */
.slide {
    height: 40vh;
    line-height: 10vh;
    padding: 0 20px;
    background: url("https://wallpaperaccess.com/full/1385494.jpg");
    padding-top: 40px;

}
#insideSlide{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
form{
    width: 100%;

}
#mainDiv {
    width: 72%;
    margin-left: 30px;
}

form>#skill {
    font-size: 15px;
    outline: none;
    width: 55%;
    padding: 15px 10px;
    border: none;
    box-shadow: inset 0 0 0 3px rgb(143, 142, 142);
}

form>#place {
    font-size: 15px;
    outline: none;
    width: 30%;
    padding: 15px 10px;
    margin-left: -5px;
    border: none;
    box-shadow: inset 0 0 0 3px rgb(143, 142, 142);
}

form>#btn {
    font-size: 15px;
    width: 15%;
    padding: 13px 20px;
    font-size: 18px;
    background-color: #0099cc;
    color: #fff;
    margin-left: -5px;
    border: none;
    cursor: pointer;
}

.forForm {
    width: 100%;
    padding: 0;

}

.forForm>form+p {
    color: #fff;
    float: right;
    margin-top: -30px;
    font-size: 12px;
    margin-right: 10px;


}

.mt {
    margin-top: 30px;

}
.mt>p{
    color: #fff;
    font-size: 13px;
} 

#subMenu {
    width: 95%;
    margin-top: -20px; 
    background-color: #151815;

}

#subMenu>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    width: 100%;
    list-style: none;

}

#subMenu>ul>li>a {
    color: #fff;
    font-size: 13px;
}

#subMenu>ul>li:first-child {
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-left: -13px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxVRJZjCciMQycUJmlbCg9Nfvud6T60IUgqtwdKW6ddGHqdBOCKulns0mm1v5v-RVy3s&usqp=CAU");
}

#box {
    width: 23%;
    height: 25vh;
    background-color: #f8f9fb;
    padding: 10px;
}

#insideBox {
    display: flex;
}

#insideBox>div:first-child>p:first-child {
    margin-top: -10px;
    font-size: 15px;
    width: 100%;
}

#insideBox>div:first-child>p+p {
    font-size: 12px;
    margin-top: -50px;
}


#updatePart {
    line-height: 20px;
    font-size: 14px;
    margin-top: -20px;
    margin-left: 20px;
}

ul.a {
    list-style-type: square;

}
#updatePart>ul>li>a {
    color: #0099cc;
}

/* Browser Jobs by Locations */
.container {
    width: 75%;
    margin: 10px 20px auto 183px;
    background-color: #fff;
}

.container>div:first-child {
    height: 255px;
}

.container>div>div:first-child>p {
    padding: 10px 15px;
    font-size: 15px;
    color: #333;
}

hr {
    border: none;
    height: 0.1px;
    color: #333;
    background-color: #e3e0e0;
}

.container>div>div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.container>div>div:nth-child(2)>div {
    margin-top: 25px;
}

.container>div>div:nth-child(2)>div>img {
    width: 100%;
    height: 150px;
}

.container>div>div:nth-child(2)>div>a>p {
    margin-top: -5px;
    margin-bottom: 18px;
    font-size: 13px;
    color: rgb(101, 100, 100);
}

.container>div>div:nth-child(2)+a {
    color: #09c;
    float: right;
    margin-right: 35px;
    font-size: 15px;
}

/* Browser Jobs by Locations & Browse Jobs by Industries */
.subContainer {
    width: 75%;
    margin: 10px 20px auto 183px;
    display: flex;
    justify-content: space-between;

}

.subContainer>div:first-child {
    background-color: #fff;
    width: 49.6%;
}

.subContainer>div:last-child {
    background-color: #fff;
    width: 49.6%;
}

.subContainer>div>div>p {
    padding: 10px 15px;
    font-size: 15px;
    color: #333;
}

.subContainer>div>div>hr {
    border: none;
    height: 0.1px;
    color: #333;
    background-color: #e3e0e0;
}

.subContainer>div>div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.subContainer>div>div:nth-child(2)>div:first-child>ul {
    margin-left: -88px;

}

#insideFirstSubContainer {
    margin-left: 15px;
}

.subContainer>div>div:nth-child(2)>div>ul>li {
    list-style: none;
    line-height: 25px;
}

.subContainer>div>div:nth-child(2)>div>ul>li>a {
    font-size: 13px;
    color: rgb(101, 100, 100);
}

.subContainer>div>div:nth-child(2)+a {
    margin-top: 15px;
    float: right;
    margin-right: 35px;
    margin-bottom: 18px;
    font-size: 15px;
    color: #09c;
}

.subContainer>div>div:nth-child(2)>div:last-child {
    margin-left: 0px;
}

#insideSecondSubContainer {
    margin-right: 60px;
}

/* Browse Jobs by Industries */


#companies {
    width: 75%;
    margin: 10px 20px auto 183px;
    background-color: #fff;
    height: 220px;

}

#companies>div>div:nth-child(2) {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#companies>div>div:nth-child(2)>div>a>p {
    font-size: 13px;
    color: rgb(101, 100, 100);
    margin-top: 20px;
}

#companies>div>div>p {
    padding: 10px 15px;
    font-size: 15px;
    color: #333;

}

#companies>div:first-child>a {
    float: right;
    margin-top: 15px;
    margin-right: 40px;
    color: #09c;
}

/* Browse Jobs by Designations & Browse Jobs by Skills */

#insideFstSubContainer {
    margin-left: 10px;
}

#insideSecSubContainer {
    margin-left: -70px;
}

#insideSecFstSubContainer {
    margin-left: -50px;
}

#insideSecSecSubContainer {
    margin-left: -180px;
}

/* MAIN FOOTER */

#mainFooter {
    background-color: #2e3339;
    margin-top: 40px;

}

#inside {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: space-evenly;

}

#inside>div {
    margin-top: 20px;
    margin-left: 10px;
}

/* insideMainFooter */
#insideMainFooter>div:first-child>ul {
    margin-top: 8px;

}

#insideMainFooter>div:first-child>ul>li {
    list-style: none;
    line-height: 20px;
}

h3 {
    color: #f4f4f4;
}

#insideMainFooter>div:first-child>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideMainFooter>div:first-child>ul>li>a:hover {
    color: #fff;
}

#insideMainFooter>div:last-child>a>img {
    margin-top: 5px;
    width: 50%;
    background-color: black;
    border-radius: 8px;
}

#insideMainFooter>div:last-child>a:last-child>img {
    margin-top: 2px;
}

#insideMainFooter>div:last-child {
    margin-top: 20px;
}

/* insideSecMainFooter */
#insideSecMainFooter>div:first-child>ul {
    margin-top: 8px;
}

#insideSecMainFooter>div:first-child>ul>li {
    list-style: none;
    line-height: 20px;
}

#insideSecMainFooter>div:first-child>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideSecMainFooter>div:first-child>ul>li>a:hover {
    color: #fff;
}

#insideSecMainFooter>div:last-child {
    margin-top: 20px;
}

#insideSecMainFooter>div:last-child>ul {
    margin-top: 8px;
}

#insideSecMainFooter>div:last-child>ul>li {
    list-style: none;
    line-height: 20px;
}

#insideSecMainFooter>div:last-child>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideSecMainFooter>div:last-child>ul>li>a:hover {
    color: #fff;
}

/* insideTrdMainFooter */

#insideTrdMainFooter>div:first-child>ul {
    margin-top: 8px;
}

#insideTrdMainFooter>div:first-child>ul>li {
    list-style: none;
    line-height: 20px;
}

#insideTrdMainFooter>div:first-child>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideTrdMainFooter>div:first-child>ul>li>a:hover {
    color: #fff;
}

#insideTrdMainFooter>div:last-child {
    margin-top: 20px;
}

#insideTrdMainFooter>div:last-child>ul {
    margin-top: 8px;
}

#insideTrdMainFooter>div:last-child>ul>li {
    list-style: none;
    line-height: 20px;
}

#insideTrdMainFooter>div:last-child>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideTrdMainFooter>div:last-child>ul>li>a:hover {
    color: #fff;
}

/* insideFourthMainFooter */
#insideFourthMainFooter {
    margin-bottom: 20px;
}

#insideFourthMainFooter>div:last-child>div>a>img {
    width: 10%;
}

#insideFourthMainFooter>div:first-child>ul {
    margin-top: 8px;
}

#insideFourthMainFooter>div:first-child>ul>li {
    list-style: none;
    line-height: 20px;
}

#insideFourthMainFooter>div:first-child>p {
    color: #9ca3a5;
    font-size: 13px;
    line-height: 20px;
}

#insideFourthMainFooter>div:first-child>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideFourthMainFooter>div:first-child>ul>li>a:hover {
    color: #fff;
}


#insideFourthMainFooter>div:nth-child(2) {
    margin-top: 20px;
}

#insideFourthMainFooter>div:nth-child(2)>ul {
    margin-top: 8px;
}

#insideFourthMainFooter>div:nth-child(2)>ul>li {
    list-style: none;
    line-height: 20px;
}

#insideFourthMainFooter>div:nth-child(2)>ul>li>a {
    color: #9ca3a5;
    font-size: 13px;
}

#insideFourthMainFooter>div:nth-child(2)>ul>li>a:hover {
    color: #fff;
}

#insideFourthMainFooter>div:last-child>p {
    margin-top: 20px;
    color: #9ca3a5;
    font-size: 13px;
}

#insideFourthMainFooter>div:last-child>div>a>img {
    margin-top: 10px;
}

/* SLIDER PART IN FOOTER */
#sliderFooter {
    background-color: #fff;
}

#insideSliderFooter {
    width: 60%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    margin-right: 340px;
}

#insideSliderFooter>div:first-child {
    font-size: 13px;
}

.slid img {
    width: 100%;
    height: 9vh;
    margin-left: 100px;
    cursor: pointer;
}

.arrow {
    cursor: pointer;
    position: absolute;
    background-color: #fff;
}

.next {
    right: 0;
}

.pre {
    left: 130px;
}

.slid {
    display: none;

}

/* Footer */

#footer {
    text-align: center;
    font-size: 12px;
    background-color: #e2e2e2;
    padding: 10px;
    color: rgb(122, 120, 120);
}


#OK{
    font-weight: 700;
    color: #5c97e3;
    background-color: #f5f5f5;
    border-bottom: 5px solid #5c97e3;
  }