/* navbar styling */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #F4F4F4;

}
#navbar {
  height: 78px;
  background-color: white;
  margin: auto;
  width: 100%;
  position: fixed;
}
#navbar > div {
  height: 77px;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border:1px solid red; */
}

#manubar {
  width: 53%;
  height: 77px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#manubar > div,
#my_naukri > div {
  height: 77px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bell_Icon {
  width: 3%;
  height: 77px;
}
#bell_Icon > img {
  width: 100%;
}
.notification {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  top: 15px;
  left: 15px;
  color: white;
  border-radius: 50%;
}
#my_naukri {
  width: 10%;
  margin-left: -6%;
}
.hover-on-manubar:hover {
  background-color: #f5f5f5;
}
.text-decoration-none {
  text-decoration: none;
  color: rgb(101, 101, 101);
  border-bottom: 5px solid transparent;
}
.border-bottem:hover {
  font-weight: 700;
  color: #5c97e3;
  border-bottom: 5px solid #5c97e3;
}

/* banner styling */
#banner {
  width: 100%;
  height: 380px;
 
  /* border: 1px solid yellow;*/
} 
#banner > img {
  width: 100%;
  height: 100%;
}
/* main body styling */
#main {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: -230px;
  display: grid;
  grid-template-columns: 65% 1fr;
  column-gap: 25px;
  margin-left: 100px;
  /* border: 1px solid yellow; */
}
/* left bar */
/* search bar  */
.searchBar {
  margin-bottom: 170px;
}
.searchBar > label {
  font-size: 25px;
  color: white;
  font-family: Inter, sans-serif;
}
#search {
  width: 70%;
  height: 50px;
  font-size: 15px;
  color: grey;
  padding-left: 40px;
  border: 2px solid;
  outline: none;
  
}
#se{
  height: 50px;
  font-size: 15px;
  color: grey;
  padding-left: 40px;
  border: 2px solid;
  outline: none;
}

/* #search-location {
  visibility: hidden;
  width: 0px;
  height: 45px;
  font-size: 15px;
  color: grey;
  padding-left: 40px;
  border: none;
  border-left: 1px solid;
  outline: none;
  transition: 0.8s;
}


#search_btn {
  height: 45px;
  margin-left: -42px;
  padding: 12px 30px;
  text-align: center;
  background-color: #4a90e2;
  color: white;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
} */
#sbtn{
  display: flex;
  color:white;
  background-color: #4a90e2;
  justify-content: center;
  align-items: center;
  width:15%;
}
#lab{
  color:white;
  font-family:  Roboto, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
#leftBar{
  /* border:1px solid green; */
  width:100%;
}
.searchBar{
  display:flex;
  /* border:1px solid red; */
  width:100%;
}
#search + div {
  width: 30%;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  background-color: #4a90e2;
  color: white;
  font-size: 18px;
  float: right;
  cursor: pointer;
}
#search + div:hover {
  background-color: #5597e4;
  transition: 0.3s;
}
/* footer */
.container {
  padding-top: 30px;
  width: 100%;
  height: 700px;
  margin-top: 50px;
  background-color: #2e3339;
}
.row {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.footer-col > ul {
  list-style: none;
  line-height: 30px;
  color: rgb(165, 164, 164);
  font-size: 14px;
  font-family: Inter, sans-serif;
}
.footer-col > ul > li:hover {
  color: rgb(228, 226, 226);
  cursor: pointer;
}
.footer-col > ul > .header:hover {
  color: white;
  cursor: default;
}
.header {
  font-size: 17px;
  font-weight: 500;
  color: white;
}
.play-stores-logo > img {
  width: 50%;
}
.footer-margin-top {
  margin-top: 20px;
}

#slider {
  width: 100%;
  height: 100px;
  background-color: white;
}
#slider > div {
  width: 52%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  color: grey;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#sliderBox {
  width: 85%;
  height: 100px;
  background-color: white;
  border: 1px solid;
  overflow: hidden;
}
#sliderBox > figure {
  position: relative;
  /* width: 400%; */
  left: 0;
  animation: 5s infinite;
}
#sliderBox > figure > img {
  width: 30%;
  /* float: left; */
}

#slider + p {
  width: 20%;
  height: 40px;
  padding-top: 10px;
  color: rgb(94, 93, 93);
  margin: auto;
  text-align: center;
}


/* Recruiters */

#container{
  /* border:1px solid red; */
  width:75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#container>div{
  /* border:1px solid; */
}
#con1{
  width:69%;
  /* border:1px solid;  */
}
#con2{
  width:29%
}

#comp{
  /* border:1px solid green; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#images{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#images>img{
  width:110px;
  height: 40px;
}
#comp>p,#con2 > p{
  margin-left: 20px;
  margin-top: px;
 font-family:  Roboto, sans-serif;
 font-size: 15px;
 margin-bottom: 15px;
}
p+hr{
  height: 1px;
}
#comp{
  padding: 20px;
}
#images{
  margin-bottom: 15px;
}
div+p{
 font-size: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
 font-family:  Roboto, sans-serif;  
}
#fild{
  display:flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: rgb(239,239,239);
}
#fild>div{
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family:  Roboto, sans-serif; 
 width:100px; 

}

#fild a{
  text-decoration: none;
  color:black
}
#fild>div:hover{
  background-color: #D4D4D4;
}

body{
  background-color: #FFFF;
}


#recontainer{
  margin-top: 15px;
  /* border:1px solid green; */
  background-color: #F4F4F4;
  display: grid;
  grid-template-columns: repeat(2,48%);
  grid-template-rows: repeat(auto,250px);
  gap:15px
}
#recontainer>div{
  background-color:#FFFFFF ;
  padding:7px
}
#recontainer>div:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.follow:hover{
  background-color: #52BE80 ;
  border:none;
}

.InLine{
  display:inline-block;
 
  position: relative;
  top: -5px;
  left:4px;
}
.InLine>p{
  line-height:20px ;
  font-family: Roboto, sans-serif; 
  font-size: 12px;
}

#recontainer>div>img{
width:25%;
border:1px solid gray;
}


.forSkill~p{
  line-height:20px ;
  font-family: Roboto, sans-serif; 
  font-size: 12px;
}
.forSkill{
  font-size:11px ;
  font-family: Roboto, sans-serif; 
  color:gray;
  margin-bottom:1px
}

.forSkill~.active{
  margin-top: 12px;
  margin-bottom: 15px;
}

.follow{
  padding:10px 25px;
  background-color: #FFF;
  margin-right: 70px;
  border:1px solid gray;
}

.follow+a{
  margin-left: 50px;
  font-family: Roboto, sans-serif; 
  text-decoration: none;
  font-size: 15px;
  color:#4099D2;
}
.followActive{
  padding:10px 15px;
  margin-left: 10px;
  
}
a+p{
  font-size: 11px;
  margin-top: 5px;
  
}
#view{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 10px;

}
#view>a{
  text-decoration: none;
  color:#4099D2;
}

/* con2 */

#con2{
  /* border:1px solid red; */
  padding:10px;
  background-color: #F4F4F4;
}


#con2>p{
  margin-bottom: 20px;
}

#con2 .InLine{
  
}
#con2>div{
  /* border:1px solid ; */
  padding:10px;
  margin-bottom: 10px;
  background-color: white;
}
#con2>div>img{
  border:1px solid gray;
  width:30%
}
.followActive{
  margin-right: 60px;
  padding: 10px,18px;
  margin-left: 2px;
  background-color: white;
  border:1px solid gray;
}

.followActive+a{
  /* margin-left: 50px; */
  font-family: Roboto, sans-serif; 
  text-decoration: none;
  font-size: 15px;
  color:#4099D2;
}

.followActive:hover{
  background-color: #52BE80 ;
  border:none;
}
#con2>div:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#box1{
  width:100px;
  height:100px;
  border:3px solid green;
  display: inline;
  margin-left: 100px;
}

@media all and (min-width:765px) and (max-width:1024px){
  #images,#fild{
    display: none;
  }
  #recontainer{
    grid-template-columns: repeat(1,100%);
  grid-template-rows: repeat(auto,250px);
  }
  #search + div {
    font-size: 12px;
  }
  #navbar{
    height:auto;
    width: 1500px;
  }
}

@media all and (min-width:320px) and (max-width:764px){
  #images,#fild,#con2{
    display: none;
  }
  #recontainer{
    grid-template-columns: repeat(1,100%);
  grid-template-rows: repeat(auto,250px);
  }
  #search + div {
    font-size: 10px;
  }
  #navbar{
    height:auto;
    width: 1500px;
  }
}



#OK{
  font-weight: 700;
  color: #5c97e3;
  background-color: #f5f5f5;
  border-bottom: 5px solid #5c97e3;
}
